<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de finanças</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Lembretes</a>
            </li>
        </ul>
    </nav>
    
    <main>
        <h1>Bem Vindo ao controle de gastos</h1>

        <table>
            
        </table>

    </main>

</body>
</html>